<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Cyclops Project</title>
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/main.css" />
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/app.js"></script>
</head>
<body ng-controller="MainController as main">
	<div id="home"></div>
	<nav class="navbar navbar-default navbar-fixed-top main-nav">
	  <div class="container-fluid">
	    <div class="navbar-header" id="startchange">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand main-nav-brand" href="#">Cyclops Project</a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right main-nav-list">
	        <li><a href="#home"  class="scroll_nav">Home</a></li>
	        <li><a href="#features" class="scroll_nav">Features</a></li>
	        <li><a href="#plans" class="scroll_nav">Plans</a></li>
	        <li><a href="#testimonials" class="scroll_nav">Testimonials</a></li>
	        <li><a href="#" data-toggle="modal" data-target="#myModal">Product Status</a></li>
	        <li class="login_tab btn btn-success"><a href="#">Log in</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content track_status">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h2 class="modal-title" id="myModalLabel">Track Status</h2>
	        <h4>Track your shipment</h4>
	      </div>
	      <div class="modal-body">
	        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d243647.31730312546!2d78.26761457691079!3d17.412299560525327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb99daeaebd2c7%3A0xae93b78392bafbc2!2sHyderabad%2C+Telangana!5e0!3m2!1sen!2sin!4v1509517563784" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="jumbotron main-jumbo">
				<div class="container jumbo-content">
					<h1>Cyclops Project</h1>
					<h3>Changing the world</h3>
				</div>
				<div class="banner-cols">
					<div class="col-md-4">
						<div class="cols-inner">
							<h3>Water for everyone</h3>
							<h4>We wish to provide quality water for everyone in the world</h4>
						</div>
					</div>
					<div class="col-md-4">
						<div class="cols-inner">
							<h3>Quality is the best</h3>
							<h4>We ensure that the quality you get is the best</h4>
						</div>
					</div>
					<div class="col-md-4">
						<div class="cols-inner">
							<h3>COD</h3>
							<h4>We provide cash on delivery for our products</h4>
						</div>
					</div>
				</div>
				<div class="join_today">
					<button class="btn btn-success" class="scroll_nav" href="#plans">Plans</button>
				</div>
				<div id="features"></div>
			</div>
			<div class="features">
				<h1>Features</h1>
				<center><hr /></center>
				<div class="features_list container" ng-repeat="y in main.features">
					<div class="features_content">
						<h2>{{y.title}}</h2><center><hr /></center>
						<h4>{{y.desc}}</h4>
					</div>
				</div>
			</div>
			<div id="plans"></div>
			<div class="purchase_plans jumbotron">
				<h1>Purchase Plans</h1><center><hr /></center>
				<div class="purchase_table">
					<a href="#" ng-repeat="x in main.pricing">
						<div class="purchase_table_inner">
							<h2>{{x.pack}}</h2>
							<h3><i class="fa fa-inr" aria-hidden="true"></i> {{x.perCan}}/Product</h3>
							<h4> {{x.price}}</h4>
						</div>
					</a>
				</div>
			</div>
			<div id="testimonials"></div>
			<div class="testimonials">
				<h1>Testimonials</h1><center><hr /></center>

				<div id="carousel-example-generic" class="carousel slide testimonials-slider" data-ride="carousel">
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
				  </ol>
				  <div class="carousel-inner testimonials-slider-inner" role="listbox">
				    <div class="item active">
				      <img src="img/rick.gif" alt="Rick Review" class="img-circle">
				      <div class="carousel-caption">
				        <h2>Rick</h2><hr />
				        <h4>This has been a great experiience ordereing products from cyclops project. Water quality is excellent and develivery on time. Planning to order more in the future.</h4>
				      </div>
				    </div>
				    <div class="item">
				      <img src="img/morty.gif" alt="Morty Review" class="img-circle">
				      <div class="carousel-caption">
				        <h2>Morty</h2><hr />
				        <h4>This has been a great experiience ordereing product from cyclops project. Water quality is excellent and develivery on time. </h4>
				      </div>
				    </div>
				    <div class="item">
				      <img src="img/stewie.gif" alt="Stewie Review" class="img-circle">
				      <div class="carousel-caption">
				        <h2>Stewie</h2><hr />
				        <h4>This has been a great experiience ordereing product from cyclops project. Water quality is excellent and develivery on time. </h4>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<h4>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> Crystal Drop 2017</h4>
		<ul>
			<li ng-repeat="i in main.icons"><a href="#"><i class="fa fa-{{i.icon}}" aria-hidden="true"></i></a></li>
		</ul>
	</footer>
</body>
</html>